<div class="container">
    <div class="row">  
        <div class="col-md-6 offset-md-3">
            <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm" >
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <input required="required" type="text" class="form-control" id="content-field" placeholder="Enter a task ..." [(ngModel)]="currentTask.content" name="content"> 
                </div>
                <button type="submit" class="btn btn-primary" [disabled] = "taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
            </form>
        </div>
    </div>
    <div class="row">

    </div>
    <app-card *ngFor="let task of tasks" [task] = "task" ></app-card>

    <h5 *ngIf="tasks.length == 0">
        <p>The task list is emplty</p>    
        <p>Add new tasks using the form above</p>
    </h5> 

</div>